@{
    ViewData["Title"] = "Student Dashboard";
}

<h2>Your Issues</h2>

<p>Welcome to your dashboard. List your issues here using a table or cards.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate consectetur sunt architecto magnam dolorum incidunt temporibus fugit fuga voluptas esse distinctio unde nobis eius, non tempora a omnis? Quod quidem cumque, voluptatibus ipsum, tenetur nihil ut vitae voluptatum optio totam aut atque sunt eveniet et nobis omnis perspiciatis dolores. Soluta eum aspernatur iusto nulla, nesciunt ipsum? Magni at mollitia animi nesciunt accusantium eum aliquid. Hic cum quasi veniam, nihil inventore iusto saepe illum atque omnis fugit aperiam laborum porro. Dolore provident est voluptatum tenetur ea officia ipsum earum et commodi, aut reiciendis quaerat distinctio quas minus iusto veritatis. Accusantium, minima.
</p>
